<!DOCTYPE html>
<!--Added-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Registered</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div>
            <h2>Registered participants</h2>
            <ul>
                <h3>Name Address</h3>
                <!-- Replace 'utext' with 'text'-->
                <li th:each="person : ${registered}" th:utext="${person.name} + ' ' + ${person.address}">Participant</li>
            </ul>
        </div>
    </body>
</html>

