<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Users</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div>
            <h2>Site Menu</h2>
            <p>
                <a href="/create-user">Create User</a>
            </p>
            <p>
                <a href="/form">Signup</a>
            </p>
            <p>
                <a href="/registered">Registered</a>
            </p>
            <p>
                <a href="/users">Site Users</a>
            </p>
            <p>
                <a href="/logout">Logout</a>
            </p>
        </div>
        <div>
            <h2>Users</h2>
            Listing all site users and if they are admins.
            <ul>
                Username Admin?
                <li th:each="user : ${users}" th:text="${user.username} + ' ' + ${user.isAdmin}">User</li>
            </ul>
        </div>
    </body>
</html>
